<% include partials/header %>

<h1>Black Market Daily Quotation of the Dollar in Venezuela</h1>

<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/javascript/visualization.js"></script>

<% include partials/footer %>
