<% include partials/header %>

<header id="header">
  <h1>Black Market Daily Quotation of a Dollar in Venezuela</h1>
  <p>
    <a href="http://lrodriguez.me" target="_blank">by Luis Rodriguez</a>
  </p>
</header>

<main>
  <p>
    In this D3 visualization we can see a line chart of the daily cost of one
    dollar for the typical Venezuelan.
  </p>

  <svg width="960" height="500"></svg>

  <h1>FAQ</h1>

  <p class="question">Why is important (at least for us Venezuelans) to know this value and it's
  grahical representation?</p>
  <p class="explanation">
    It is important to know it, because most of our economy it is based on importing goods from
    the exterior; which are valued in dollars.
    <br />
    The main exception for this, is oil,
    which is produced in here, and then exported to other countries. But when
    we're talking about food, medicine, or other first need products,
    it is almost a certainty they're not
    made in here; so <strong>when the dollar value goes up,
    the prices of these products also goes up.</strong>
  </p>

  <!-- TODO Optional, Add more FAQ's
  <p class="question">Why do you have a black market to buy dollars?</p>
  <p class="explanation">
    It is important to know it, because most of our economy it is based on importing goods from
    the exterior; which are valued in dollars.
    <br />
    The main exception for this, is oil,
    which is produced in here, and then exported to other countries. But when
    we're talking about food, medicine, or other first need products,
    it is almost a certainty they're not
    made in here; so <span class="underlined">when the dollar value goes up,
    their prices also goes up.</span>
  </p>

  <p class="question">How much a tipycal Venezuelan each month?</p>
  <p class="explanation">
    It is important to know it, because most of our economy it is based on importing goods from
    the exterior; which are valued in dollars.
    <br />
    The main exception for this, is oil,
    which is produced in here, and then exported to other countries. But when
    we're talking about food, medicine, or other first need products,
    it is almost a certainty they're not
    made in here; so <span class="underlined">when the dollar value goes up,
    their prices also goes up.</span>
  </p>

  <p class="question">I'm concerned about the situation, what can I do to help?</p>
  <p class="explanation">
    It is important to know it, because most of our economy it is based on importing goods from
    the exterior; which are valued in dollars.
    <br />
    The main exception for this, is oil,
    which is produced in here, and then exported to other countries. But when
    we're talking about food, medicine, or other first need products,
    it is almost a certainty they're not
    made in here; so <span class="underlined">when the dollar value goes up,
    their prices also goes up.</span>
  </p>
-->
</main>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/javascript/visualization.js"></script>

<% include partials/footer %>
